.category-dropdown {
 color: rgb(115, 126, 8);
    background-color: #ffffff;
    
}
.category-dropdown .panel-header {
    background-color: #d4ff00;
    color: #070000;
    
}
.sub-category-options{
    background-color: #000000;
    color: #09ffff;
    border-radius: 30px;
}