.main-menu {
  position: relative;
}

.menu-btn {
  background-color: rgb(12, 82, 157);
  color: white;
  border: none;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
  border-radius: 2px;
}

.category-dropdown {
  position: absolute;
  top: 50px; /* Below navbar */
  left: 0;
  width: 230px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 2000;
  overflow-y: auto;
  max-height: 75vh;
}

.panel-header h3 {
  margin: 0;
  color: #000000;
}

/* Buttons */
 .all-btn {
  
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  color: #495057;
  backdrop-filter: blur(10px);
  width: 100%;
}
.all-btn{
    background: linear-gradient(145deg, #a0eaffe8, #003699);
  color: white;
  border: none;
}

.all-btn:hover {
   background: linear-gradient(145deg, #667eea, #764ba2);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(102, 126, 234, 0.3);
}

.category-section {
  margin-bottom: 15px;
}

.section-title {
  display: block;
  color: #2c3e50;
  margin-bottom: 8px;
  padding: 0 15px;
}
 .sub-category-options {
background-color: #099dff; 
  padding: 18px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
}

.sub-category-options:hover {
  color: #007bff;
  background: #f1f1f1;
  border-radius: 6px;
  padding-left: 6px;
}