.comparison-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  overflow-x: hidden;
}

.comparison-content {
  background: #bcdbdc;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 85%;  
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  box-sizing: border-box;
  position: relative;
}

.comparison-content::-webkit-scrollbar {
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: #efd3d0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.comparison-table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* prevents width overflow */
}

.comparison-table th,
.comparison-table td {
  border: 1px solid #d6d5d5;
  padding: 10px;
  text-align: center;
}

.comparison-table th {
  background-color: #deeaf6;
}

.comparison-table tr:nth-child(even) {
  background-color: #f9e8e8;
}

body {
  overflow-x: hidden !important;
}
