.filters-and-list {
  display: flex;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.filters-sidebar {
  width: 320px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #eee;
  background: #fff;
}

.products-list-area {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  min-height: 80vh;
}
.page-main-title {
  font-size: 28px;
  font-weight: 700;
  margin-left:5%;
}

/* Mobile  */
@media (max-width: 768px) {
  .filters-and-list {
    flex-direction: column;
  }
  .filters-sidebar {
    width: 100%;
    height: auto;
    position: static;
  }
}