.searchbar-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: rgba(151, 0, 151, 0.685); /* ✅ light green box */
  border-radius: 8px;
  height: 45px;
  width: 250px;
  z-index: 9999;
  
}

.searchbar-input {
  display: block;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
}
.searchbar-input::placeholder {
  color: #888;
}
.sug-main {
  position: absolute;
  top: 50px;
  width: 250px;
  z-index: 10000;
  overflow-y: visible;
  color: black;
  background-color: rgb(102, 223, 253);
  border-radius: 5px;
}